* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 232, 240);

    main {
        text-align: center;
        background-color: white;
        width: 280px;
        height: 420px;
        border-radius: 16px;
        -webkit-box-shadow: 6px 7px 10px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 7px 10px -8px rgba(0,0,0,0.75);
        box-shadow: 6px 7px 10px -8px rgba(0,0,0,0.75);

        img {
            margin-top: 15px;
            width: 250px;
            border-radius: 16px;
        }

        h1 {
            letter-spacing: .8px;
            width: 75%;
            font-size: 1rem;
            margin-inline: auto;
            margin-block: 20px;
            font-weight: 600;
        }

        p {
            color: rgb(94, 94, 94);
            font-size: .8rem;
            width: 75%;
            margin-inline: auto;
        }
    }
}





